<!DOCTYPE html>
<html>
  <head>
    <title>SWARCH</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css')
}}"
    />
  </head>
  <body>
    <h1>PRODUCT</h1>
    <form method="POST" action="/products">
      <label for="name">Nombre:</label><br />
      <input type="text" id="name" name="name" required /><br />
      <label for="description">Descripción:</label><br />
      <textarea id="description" name="description"></textarea><br />
      <button type="submit">Crear</button>
    </form>
      
      <!-- Nueva seccion para actualizar -->
      <form method="POST" action="/products/1">  <!-- TODO: volverlo dinamico -->
        <label for="update_name">Nuevo Nombre:</label><br />
        <input type="text" id="update_name" name="name" required /><br />
        <label for="update_description">Nueva Descripción:</label><br />
        <textarea id="update_description" name="description"></textarea><br />
        <button type="submit">Actualizar</button>
      </form>      
  </body>
</html>
